.container__form {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-gap: 10px;
    background-color: white;
    padding: 20px;
}

.container__form--input {
    padding: 10px;
    border: 1px solid #ccc;
}

@media (max-width: 767px) {
    .container__form {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.container__form--button {
    background-color: teal;
    color: white;
    border: none;
    
}

.container__form--button:hover {
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.05);
    transition: 0.5s;
}

.container__form--button:active {
    background-color: hsl(180, 100%, 35%);
}