.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    grid-gap: 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.task__list--done {
    text-decoration: line-through;
}