.task__button {
    background-color: green;
    color: white;
    border: none;
    width: 30px;
    height: 30px;   
}

.task__button:hover {
    background-color: hsl(120, 100%, 35%);
    transform: scale(1.2);
    transition: 0.5s;
}

.task__button:active {
    border:solid black 1px;
    border-radius: 1px;
}

.task__button--remove {
    background-color: red;
    border: none;
    padding: 10px;
    width: 30px;
    height: 30px;
    background-image: url(../images/kosz.png);
    background-repeat: no-repeat;
    background-position: center;
    
}

.task__button--remove:active {
    border:solid black 1px;
    border-radius: 1px;
}

.task__button--remove:hover {
    background-color: hsl(0, 100%, 60%);
    transform: scale(1.2);
    transition: 0.5s;
}

.tasks {
    margin: 0;
    padding: 0;
}